/* 
Colors: 
#141A5E - dark blue
#3606DF - bright blue
#00B4FF - sky blue

#00E9FF - cyan
#93F6FF - light cyan

#41DBB9 - green cyan
#87EDD7 - light green cyan

#E000F9 - bright magenta
#F5A0FB - light magenta 1
#FCC9FF - light magenta 2
#FCE0FF - light magenta 3

#461174 - purple
#5F0998 - brighter purple

#7A63EC - blue-lavender
#9076FF - lighter blue-lavender

#FF9472 - orange
*/
#header{
	position: relative;
}

#header img{
	margin: 0;
	height: 150px;
	width: 100%;
	object-fit: cover;
}

body{
	margin: 0;
	font-family: sans-serif;
}

#title{
	background-color: #9076FF;
	width: 300px;
	margin: 1em;
	float: left;
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
}

#mainTitle{
	font-size: 2em;
	padding: .5em .5em 0 .5em;
	margin: 0;
}

#subtitle{
	font-size: 1em;	
	padding: .25em 1em 1em 1em;
	margin: 0;
}


.page-wrap{
	display: -webkit-flex;
	display: flex;
	height: auto;
	min-height: 100vh;
}

.nav{
	width: 15vw;
	height: auto;
	min-height: 100vh;
	background-color: #F5A0FB;
	font-family: 'Montserrat', sans-serif;
	display: block;
}

#navList{
	all: unset;
	display: block;
}

#navList a{
	text-decoration: none;
}

#navList li{
	color: #3606DF;

    background-color: #00E9FF;
    padding: .5em 0 .5em 1.5em;
}

#navList li:hover {
	color: #141A5E; 
	text-decoration:none; 
	cursor:pointer;  
}

#navList li ul {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

#navList li.collapsible:hover ul {
	height: auto;
}

#logo{
	width: 100%;
	padding-bottom: 3em;
}

.center{
	-webkit-flex: 12 2;
	flex: 12 2;  
	height: auto;
	min-height: 100vh;
}

.main-content{

}

.sideBar{
	-ms-flex: 5 1;
	flex: 5 1;
	background-color: #FCC9FF;
	height: auto;
	min-height: 100vh;

}

.sideBox {
	background-color: white;
	margin: 2.5rem 1rem;
	border-radius: 1rem;
	padding: 0.5rem;
	position: relative;
}