/* Liz colors: #503143
#9a532b
#c49b60
#79ad9f
#193439*/



.container {  
	height: 75rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: column;
	grid-template-areas:
		"Image Image Image Image BasicInfo BasicInfo BasicInfo BasicInfo Likes Likes Likes Likes"
		"Image Image Image Image BasicInfo BasicInfo BasicInfo BasicInfo Likes Likes Likes Likes"
		"Image Image Image Image BasicInfo BasicInfo BasicInfo BasicInfo Likes Likes Likes Likes"
		"Image Image Image Image BasicInfo BasicInfo BasicInfo BasicInfo Likes Likes Likes Likes"
		"Image Image Image Image BasicInfo BasicInfo BasicInfo BasicInfo Dislikes Dislikes Dislikes Dislikes"
		"Image Image Image Image Personality Personality Personality Personality Dislikes Dislikes Dislikes Dislikes"
		"Image Image Image Image Personality Personality Personality Personality Dislikes Dislikes Dislikes Dislikes"
		"Image Image Image Image Personality Personality Personality Personality Dislikes Dislikes Dislikes Dislikes"
		"Appearance Appearance Appearance Appearance Personality Personality Personality Personality Trivia Trivia Trivia Trivia"
		"Appearance Appearance Appearance Appearance Personality Personality Personality Personality Trivia Trivia Trivia Trivia"
		"Appearance Appearance Appearance Appearance Personality Personality Personality Personality Trivia Trivia Trivia Trivia"
		"Appearance Appearance Appearance Appearance Personality Personality Personality Personality Trivia Trivia Trivia Trivia"
		"Color-1 Color-1 Color-2 Color-2 Color-3 Color-3 Color-4 Color-4 Color-5 Color-5 Color-6 Color-6"
		"Story Story Story Story Story Story Story Story Story Story Story Story"
		"Story Story Story Story Story Story Story Story Story Story Story Story"
		"Story Story Story Story Story Story Story Story Story Story Story Story"
		"Story Story Story Story Story Story Story Story Story Story Story Story"
		"Story Story Story Story Story Story Story Story Story Story Story Story"
		"Moodboard-1 Moodboard-1 Moodboard-1 Moodboard-2 Moodboard-2 Moodboard-2 Moddboard-3 Moddboard-3 Moddboard-3 Moodboard-4 Moodboard-4 Moodboard-4"
		"Moodboard-1 Moodboard-1 Moodboard-1 Moodboard-2 Moodboard-2 Moodboard-2 Moddboard-3 Moddboard-3 Moddboard-3 Moodboard-4 Moodboard-4 Moodboard-4"
		"Moodboard-1 Moodboard-1 Moodboard-1 Moodboard-2 Moodboard-2 Moodboard-2 Moddboard-3 Moddboard-3 Moddboard-3 Moodboard-4 Moodboard-4 Moodboard-4"
		"Moodboard-1 Moodboard-1 Moodboard-1 Moodboard-2 Moodboard-2 Moodboard-2 Moddboard-3 Moddboard-3 Moddboard-3 Moodboard-4 Moodboard-4 Moodboard-4";
}

.Image { grid-area: Image; }


img {
	max-height: 100%;
  	width: auto;
}

.Appearance { grid-area: Appearance; }

.BasicInfo { grid-area: BasicInfo; }

.Personality { grid-area: Personality; }

.Likes { grid-area: Likes; }

.Dislikes { grid-area: Dislikes; }

.Trivia { grid-area: Trivia; }

.Story { 
	grid-area: Story;
	background: #fbefdf;
	margin-top: 10px;
	padding: 10px 0;
}

.story p {
	margin: 0;
	padding: 0 10px;
	font-size: 2vh;
}

.story p b {
	font-size: 1.5rem;
}

.Moodboard-1 { grid-area: Moodboard-1; }

.Moodboard-2 { grid-area: Moodboard-2; }

.Moddboard-3 { grid-area: Moddboard-3; }

.Moodboard-4 { grid-area: Moodboard-4; }

.Color-1 { grid-area: Color-1; }

.Color-2 { grid-area: Color-2; }

.Color-3 { grid-area: Color-3; }

.Color-4 { grid-area: Color-4; }

.Color-5 { grid-area: Color-5; }

.Color-6 { grid-area: Color-6; }

.box {
 background-color: green;
 margin: 0.25rem;
 padding: 0.5rem;
}
.picture {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
}

