body { 
	display: grid;
	grid-template-areas: 
		"header header header"
		"nav article ads"
		"nav footer footer";
	grid-template-rows: 80px 1fr 70px;  
	grid-template-columns: 20% 1fr 15%;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	height: 100vh;
	margin: 0;
	font-family: Lato, sans-serif;
	}  
header, footer, article, nav {
	padding: 1.2em;
	}
header {
	background: lightblue;
}
#pageHeader {
	grid-area: header;
	background-image: url("images/header.png");
	background-size: contain;
	background-repeat: repeat-x;
	color: white;
	}
#websiteTitle {
	background: darkslateblue;
	padding: .5rem;
	display: inline-block;
 }
#websiteTitle p {
	margin: 0;
	display: inline-block;
}
#pageFooter {
	grid-area: footer;
	}
#mainArticle { 
	grid-area: article;
	background: ivory;      
	}
#mainNav { 
	grid-area: nav; 
	background: saddlebrown;
	}
#siteAds { 
	grid-area: ads; 
	background: tan;
	} 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
	body { 
		grid-template-areas: 
			"header"
			"article"
			"ads"
			"nav"
			"footer";
		grid-template-rows: 80px 1fr 70px 1fr 70px;  
		grid-template-columns: 1fr;
 }
}
a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: inherit;
}

a:active {
	text-decoration: underline;
}



/* Nav Bar */
@import url(https://fonts.googleapis.com/css?family=Lato);

#navShell {
	display: flex;
	height: 100%;
	justify-content: left;
	align-items: left;
	text-align: left;
	background: #514129;
}

#navShell ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	list-style-type: none;
}

#navShell li {
		padding: 6px 0;
}

#navShell a {
	position: relative;
	display: block;
	padding: 4px 0;
	font-family: Lato, sans-serif;
	color: #ecf0f1;
	font-size: 2.5rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}
#navShell a::after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ba6145;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}
#navShell a:hover {
	color: #95a5a6;
}
#navShell a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}